@tailwind base;
@tailwind components;
@tailwind utilities;


.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}


/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f; /* Dark background */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7e22ce; /* Purple thumb */
  border-radius: 4px;
  border: 2px solid #1f1f1f; /* Space around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d946ef; /* Hover effect */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce #1f1f1f;
}
